extends ../layouts/ui-layout.pug

block variables
	-	var title = 'Подвал'
	- var pageClass = 'footer-page'
	
                 
  
          
block content
	.lorem &nbsp;
	include ../modules/footer.pug


	

