extends ../layouts/ui-layout.pug
block variables
	- var title = 'Блог и Оставить комментарий'
	- var pageClass = 'full-post-page'
	
                 
  
          
block content
	br
	br
	.container
		.row
			.col
			.col-10
				+full-post
			.col
		.row
			.col
			.col-10
				.comment-post__title Оставить комментарий
				.comment-post
					+avatar('small','/img/avatar-img/photo-small.jpg','')
					.comment-post__author Юрий Ключевский
					.comment-post__form
						+error('comment','Комментарий не может быть пустым.')
						textarea( class="form-message" name="Message" placeholder="Присоединиться к обсуждению...")
						+button('Опубликовать','#')
			.col


	