.error-message{
	width: 100%;
	background-color: #b51919;
	margin: 20px 0;
	padding: 15px;
	color: #fff;
	-webkit-border-radius: 3px;
	        border-radius: 3px;		
}

.block-error{
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 20px;
	
	.error-message__booked, .error-message__enter{
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 3px 3px 0 0;
	}
	
	.description-error{
		color: #38505e;
		background-color: #e0e9ee;
		padding: 7px 15px 0;		
		-webkit-border-radius: 0 0 3px 3px;
		        border-radius: 0 0 3px 3px;
		p{
			line-height: 24px;
			padding: 0;
			a{
				color: #38505e;
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}

}
.badge-element{
	background-color: $badgeColor;
	display: inline-block;
	padding: 5px 16px;
	margin-bottom: 20px;
	color: #fff;
	font-weight: 700;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
}

.avatar{
	display: inline-block;	
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius:50%;
	margin: 20px;
	&-big{		
		width: 205px;
		height: 205px;
		background-image: url(../img/placeholders/user-avatar-placeholder-big.jpg);
	}
	&-small{
		width: 48px;
		height: 48px;
		background-image: url(../img/placeholders/user-avatar-placeholder-small.jpg);
	}
}
.save-check__block{
	margin: 20px;
	
		input[type="checkbox"]{
		    display:none;            
		}
		label{
			margin-left: 10px;
			position: relative;
			cursor: pointer;
			margin: 0;
			&:before{
				content: "";
			    display: inline-block;
				position: absolute;
				left: -30px;
		    	top: 2px;
		    	height: 20px;
			    width: 20px;	    
			    background-color: #1e6791;
			    -webkit-border-radius: 1px;
			            border-radius: 1px;
			    font-size: 16px;
		  		color: #000;
			}
		}
		input[type="checkbox"]:checked + label{
		   	&:before{			    			    
			    background-image: url(../img/icons/check.png);
			    background-repeat: no-repeat;
			    background-position: center center;
			}
		}
}