$bg-footer-black:#252525;
$white:#fff;
$color-icon-heard:#d10946;
$yellow:#ffe400;

ul{
	margin: 0;
	padding: 0;
}

.footer-page{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.lorem{
	flex:1;
}

.footer{
	padding:60px 20px 0;
	color:$white;
	background-color: $bg-footer-black;	
		.menu{			
			display: flex;
			flex-direction: column;	
			align-items: center;
			li{				
				list-style-type: none;
				a{
					width:120px;
					
					text-align: left;
					display: block;
					color: $white;
					padding-bottom:16px;
				}
			}
		}
	}


.footer-copy{
	.fa-heart{
		color: $color-icon-heard;
		font-size: .8rem;
	}
}

.footer-icons{	
		display: flex;
		li{
			list-style-type: none;
			a{
				display: block;
				color: $white;
				font-size: 2.2rem;
				padding: 0 24px 24px 0;
				&:hover, &:focus { 
					color: $yellow; 
					cursor: pointer;
				}
			}
		}
	
}

@media only screen and (max-width: 768px) {
	.footer{
    .menu {
      align-items:flex-start;
		}
	}
}