


.footer-page{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.lorem{
	flex:1;
}

.footer{
	padding:60px 20px 40px;
	color:$white;
	background-color: $bg-footer-black;	
		.menu{			
			display: flex;
			flex-direction: column;	
			align-items: center;
			li{				
				list-style-image:none;
				list-style-position:outside;
				list-style-type:none;
				&:before{ display: none;}
				a{
					width:120px;					
					text-align: left;
					display: block;
					color: $white;
					padding-bottom:16px;
				}
			}
		}
	}
.footer-link{
	color: $white;
	font-weight: 600;
		&:hover, &:focus { 
			color: $white;
			cursor: pointer;
		}
}

.footer-copy{
	line-height: 2;
	padding-bottom:16px;
	.fa-heart{
		color: $color-icon-heard;
		font-size: .8rem;
	}
}

.footer-icons{	
		display: flex;
		li{
			list-style-type: none;
			&:before{ display: none;}
			a{
				display: block;
				color: $white;
				font-size: 2.2rem;
				padding: 0 24px 24px 0;
				&:hover, &:focus { 
					color: $yellow; 
					cursor: pointer;
				}
			}
		}
	
}

@media only screen and (max-width: 768px) {
	.footer{
    .menu {
      align-items:flex-start;
		}
	}
}