.full-post{
  &__author, &__link, &__date{
    font-size: 14px;
		font-weight: 600;
		margin-right: 20px;		
  }  
	&__link{
    text-decoration: none;
		color:$linkColor;
	}
	&__date{
    color:$color-date;
  }
  &__img{
    max-width: 100%; 
    height: auto;
    display:block;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
  }
}

