/* variable */
@import 'variable/variable';
/* blocks styles */
@import 'base/fonts_style';
@import 'variable/variable';
@import "ui_button";
@import "header-user";
@import "header-admin";
@import "footer";
@import "cards";
@import "full-post";

@import 'helper.scss';
@import "ui_comments";






/* blocks styles */
@import 'base/fonts_style';
@import 'helper.scss';
@import "ui_button.scss";
@import 'ui-forms.scss';


