$white: #FFF;
$red: #FFF;
$blue: #FFF;
$yellow: #FFF;
$light-blue: #dde8ee;


.button {
	display: inline-block;
	padding: 0 30px;
	margin: 10px;
	border: 1px solid $light-blue;
	border-radius: 25px;
	background-color: $white;
	color: #037EC6;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 2;
	
	&:hover, &:focus { background: $light-blue; }

	&:active { background: #b4dff6; }	
}

.button-white {
	background-color: $white;
}
 
.button-red {
	background-color: $red;
}
 
.button-blue {
	background-color: $blue;
}
 
.button-yellow {
	background-color: $yellow;
}
 
.button-arrow {
	background-color: $white;	
}
 
.button-shadow {

}