.comment-user
	+button('Удалить','#','delete')
	.comment-user__date 22 Августа 2017
	.comment-user-profile
		span.comment-user-profile__name Джон До 
		a.comment-user-profile__email(href="mailto:johndoe@gmail.com") johndoe@gmail.com
	.comment-user__message
		| Привет, как дела?) наконец то написал тебе. Посмотри ТЗ нового проекта. Делаем стартап в B2B сфере, юриспуриденция, контракты, право. Инвестиции уже получены и нам нужен классный фронт энд разработчик, как раз - такой как ты. Будет круто если сможешь поработать с нами.
	.comment-user__file Прикрепленные файлы: 
		a(href="http://") Avrora-platform.pdf 
		 
