h2 2 комментария
  +comment-info('/img/avatar-img/avatar_man.jpg','Джон До','05 Мая 2017 года в 15:45','Замечательный парк, обязательно отправлюсь туда этим летом.')
  +comment-info('/img/avatar-img/avatar_woman.jpg','Джон До','05 Мая 2017 года в 15:45','Замечательный парк, обязательно отправлюсь туда этим летом.')