footer.footer
	.container
		.row
			.col-md-4.col-sm
				p.footer-copy © DreamTeam
					br
					|	Создано с 
					i.fas.fa-heart 
					|  в 
					a.footer-link(href="http://webcademy.ru/" target="_blank") WebCademy.ru
					|  в 2018 году
			.col-md-3.col-sm
				ul.menu
					each link in menu.user    
						li
							a(href=link.href)=link.linkName
			.col-md-5.col-sm
				ul.footer-icons
					each item in menu.icon
						li
							a(href=item.href)
								i(class="fab fa-" +item.className)