@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');



html, body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
p {
	font-size: 16px;
	padding: 0;
	margin: 0;
	line-height: 36px;
	margin-bottom: 10px;
	a{
	color: $linkColor;
	}
}

h1,h3,h4,h5,h6{
	font-weight: 800;
	color: #222222;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}
h2{
	font-weight: 600;
	font-size: 26px;
	color: #383737;
	padding: 0;
	margin-bottom: 20px;
}

h1{
	font-size: 28px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
}

ul{
	padding: 0;
	margin: 0;
	li{ 
		list-style-type: none;		
		color: $listItemColor;
		position: relative;
		padding-left: 15px;
		margin-bottom: 15px;
		
		&:before{
			content:'';
			display: block;
			background-color: #037ec6;
			width: 5px;
			height: 5px;
			position: absolute;
			top:9px;
			left: 0;
		}
	

	}
}