@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');



html, body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	a{
		text-decoration: none;
		color:$linkColor;
	}
}
p {
	font-size: 16px;
	padding: 0;
	margin: 0;
	line-height: 36px;
	margin-bottom: 10px;
	a{
	color: $linkColor;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in;
	   -moz-transition: all 0.2s ease-in;
	    -ms-transition: all 0.2s ease-in;
	     -o-transition: all 0.2s ease-in;
	        transition: all 0.2s ease-in;
		&:hover,&:focus,&:active{
			color: $yellow;
		}
	}
}

.title1,.title3,.title4,.title5,.title6,h1,h3,h4,h5,h6{
	font-weight: 800;
	color: #222222;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}
.title2,h2{
	font-weight: 600;
	font-size: 26px;
	color: #383737;
	padding: 0;
	margin-bottom: 20px;
}

.title1,h1{
	font-size: 28px;
}
.title3,h3{
	font-size: 24px;
}
.title4,h4{
	font-size: 20px;
}
.title5,h5{
	font-size: 18px;
}
.title6,h6{
	font-size: 16px;
}

ul{
	padding: 0;
	margin: 0;
	li{ 
		list-style-type: none;		
		color: $listItemColor;
		position: relative;
		padding-left: 15px;
		margin-bottom: 15px;
		
		&:before{
			content:'';
			display: block;
			background-color: #037ec6;
			width: 5px;
			height: 5px;
			position: absolute;
			top:9px;
			left: 0;
		}
	

	}
}