extends ./layouts/main.pug

block variables
	- var title = 'Редактировать профиль (обо мне)'
	- var pageClass = 'post-admin'
	- var textInfo = "Я веб разработчик из Казани. Мне 28 лет. <br>Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты."
	
block header
	include ./modules/nav-admin.pug
	include ./modules/header-admin.pug
block content
	.full-post
		.container
			.row
				.col
				.col-10
					h1 Редактировать - Обо Мне
					section.add-post
						.add-post__title Имя, фамилия
						+formTText('form-full-width','userName','Емельян Казаков')
					section.add-post
						.add-post__title Фотография
						+btnUpload('Изображение jpg или png, рекомендуемый размер 205 на 205 пикселей, вес до 2Мб.','file',true)
						+avatar('big','/img/avatar-img/photo-big.jpg','')
					section.add-post
						.add-post__title Информация на главной
						textarea( class="form-message" name="userInfo" placeholder="Информация на главной") #{textInfo}
				.col
			.row
				.col
				.col-10
					h2.about-block-title Технологии
					section.add-scils
						div.scil-field
							.add-post__title HTML5
							+formTText('form-scils','html-scils','50') 
							<span> &#37;</span>
						div.scil-field
							.add-post__title CSS3
							+formTText('form-scils','css-scils','50') 
							<span> &#37;</span>
						div.scil-field
							.add-post__title JS
							+formTText('form-scils','js-scils','50') 
							<span> &#37;</span>
						div.scil-field
							.add-post__title jQuery
							+formTText('form-scils','jquery-scils','50') 
							<span> &#37;</span>
					section.add-scils
						div.scil-field
							.add-post__title PHP
							+formTText('form-scils','php-scils','50') 
							<span> &#37;</span>
						div.scil-field
							.add-post__title MySql
							+formTText('form-scils','mysql-scils','50') 
							<span> &#37;</span>
					section.add-scils
						div.scil-field
							.add-post__title Git
							+formTText('form-scils','git-scils','50') 
							<span> &#37;</span>
						div.scil-field
							.add-post__title Gulp
							+formTText('form-scils','gulp-scils','50') 
							<span> &#37;</span>
						div.scil-field
							.add-post__title Bower
							+formTText('form-scils','bower-scils','50') 
							<span> &#37;</span>
						div.scil-field
							.add-post__title WebPack
							+formTText('form-scils','webpack-scils','50') 
							<span> &#37;</span>
				.col
			.row
				.col
				.col-10
					h2.about-block-title Опыт работы
					.comment-user
						+button('Удалить','#','delete')
						.comment-user__date февраль 2017  — по настоящее время
						.comment-user-profile
							span.comment-user-profile__name Frontend разработчик, Вконтактe, mail.ru group
						.comment-user__message
							| Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.
				.col
			.row
				.col
				.col-10
					h2.about-block-title Добавить новое место
					form
						.comment-user
							section.add-post
								.add-post__title Период
								+formTText('form-full-width','work-period','Введите даты начала и окончания работы')
							section.add-post
								.add-post__title Название должности
								+formTText('form-full-width','work-name','Введите название должности')
							section.add-post.add-work
								.add-post__title Описание работы, должностные обязанности, достигнутые результат
								textarea( class="form-message" name="work-description" placeholder="Напишите интересное краткое содержательное описание")
								+button('Добавить','#','save')
				.col
			
	
block scripts
