extends ./layouts/main.pug

block variables
	- var title = 'Работы (Гость)'
	- var pageClass = 'edit-work'

block header	
	include ./modules/nav-admin.pug
	include ./modules/header-admin.pug
block content
	.container
		div(class="row justify-content-md-center")
			div(class="col-md-10")
				div(class="title1 work-add-admin")
					| Добавить работу
				section.add-post
					.add-post__title Название
					+formTText('form-full-width','FullWidth','Национальный парк Йосемити')
					.add-post__title Изображение
					+btnUpload('Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.','file',false)
					.add-post__title Содержание
					textarea( class="form-message" name="Message" placeholder="Сообщение") Сделана верстка #{textMessage}
					.add-post__title Результат
					textarea( class="form-message" name="Message" placeholder="Сообщение") #{textMessage}
					.add-post__title Технологии
					textarea( class="form-message" name="Message" placeholder="Сообщение") #{textMessage}
					+button('Сохранить','#','save')
					+button('Отмена','#')