extends ./layouts/ui-layout.pug

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content

				
			
	.container
		.row
			.col-2
			.col-8
				.ui-kit
					br
					+error_description('enter','enter','Внимание! Структура проекта изменена')
						p Весь UI-kit перенесен в папку 
							a(href="/ui-kit") ui-kit
				ul
					li
						h5 Авторизация / Регистрация
						ul
							li
								a(href="/login.html") Вход
							li
								a(href="/sign-up.html") Регистрация
					li
						h5 Главная
						ul
							li
								a(href="/index-guest.html") Гость
							li
								a(href="/index-admin.html") Админ
					li
						h5 Обо мне
						ul
							li
								a(href="/about-guest.html") Гость
							li
								a(href="/about-admin.html") Админ
					li
						h5 Работы
						ul
							li
								a(href="/work-guest.html") Отдельная страница работы (Гость)
							li
								a(href="/work-user.html") Отдельная страница работы (Пользователь)
							li
								a(href="/work-admin.html") Отдельная страница работы (Админ)
							li
								a(href="/works-guest.html") Все работы (Гость)
							li
								a(href="/works-admin.html") Все работы (Админ)
					li
						h5 Блог
						ul
							li
								a(href="/post-guest.html") Отдельная страница поста (Гость)
							li
								a(href="/post-user.html") Отдельная страница поста (Пользователь)
							li
								a(href="/post-admin.html") Отдельная страница поста (Админ)
							li
								a(href="/posts-guest.html") Все посты (Гость)
							li
								a(href="/posts-admin.html") Все посты (Админ)
					li
						h5 Контакты
						ul
							li
								a(href="/contacts-guest.html") Гость
							li
								a(href="/contacts-admin.html") Админ
							li
								a(href="/contacts-admin-edit.html") Админ Редактироватьы
					li
						h5 Управление контентом (админка)
						ul
							li
								a(href="/add-post.html") Добавить пост
							li
								a(href="/edit-post.html") Редактировать пост
							li
								a(href="/add-work.html") Добавить работу
							li
								a(href="/edit-work.html") Редактировать работу
							li
								a(href="/edit-about.html") Редактировать профиль (обо мне)
							li
								a(href="/edit-contact.html") Редактировать контакты
block scripts
