extends ./layouts/login_and_sign-up.pug

block variables
	- var title = 'Вход на сайт'
	- var pageClass = 'login-page'
	- var top_menu_action = '/sign-up.html'
	- var top_menu_name = 'Регистрация'
	- var form_action = '/login.html'
	- var form_title = 'Вход на сайт'

block errors
	//- +error('email','Введите email')
	//- +error('password','Введите пароль')
	//- +error_description('enter','enter','Неверный email или пароль.')
	//- 	p Введите верные данные для входа или воспользуйтесь 
	//- 		a(href="#") восстановлением пароля
	//- 		| , чтобы войти на сайт.


block fields
	+formTText('form-full-width','email','email','E-mail')
	+formTText('form-full-width','password','password','Пароль')

block add-info
	.additional-info
		+checkbox('save-check__block','save-check','save-check','save-check')
		a(href="#") Забыл пароль

block submit-button
	+button('Войти','#','login','','login')