$linkColor: #1487ca;
$textColor: #222222;
$listItemColor: #383737;
$blue: #037ec6;
$color-line: #e9eff3;


/*helper element*/
$badgeColor: #a0cce5;

/* footer */
$bg-footer-black:#252525;
$white:#fff;
$color-icon-heard:#d10946;
$yellow:#ffe400;

/* buttons */
$button-color-regular:#fff;
$button-color-delete: #b51919;
$button-color-save: #037ec6;
$button-color-edit: #ffba00;
$button-border-color: #dde8ee;

/* Full-post */
$color-date:#b4bbc2;

/* Comments */
$bg-comments-no-auth:#f6f7f8;


