extends layouts/ui-layout.pug
block variables
	- var title = 'Блог и Оставить комментарий'
	- var pageClass = 'full-post-page'
	
                 
  
          
block content
	br
	br
	.container
		.row
			.col
			.col-10
				+full-post
			.col

	