extends layouts/ui-layout.pug
block variables
	- var title = 'Шапка user'
	- var pageClass = 'ui-header-user'
	- var menu = [{"href": "/","linkName": "Главная"},{"href": "/about.html", "linkName": "Обо мне"},{"href": "/works.html","linkName": "Работы"},{"href": "/blog.html","linkName": "Блог"},{"href": "/contact.html","linkName": "Контакты"}]

block content
	//- .header-helper - don't use it
	.header-helper
		.header-user
			.header-user__content
				.header-user__mobile-bar(id="navigation-toggle")
					.header-user__mobile-toggle
						+icon('nav', 'nav-mod')
					.header-user__mobile-close
						+icon('close', 'close-mod')
					p Открыть навигацию
				.header-user__logo-brand
					.header-user__logo
						a(href="index.html")
							+icon('plane', 'plane-mod')
					a.header-user__brand(href="index.html")
						.header-user__brandname
							h1 Digital Lyfestyle
						.header-user__brand-desc
							p Сайт IT специалиста
				.header-user__login(id="navigation-login")
					.header-user__login-box
						.header-user__signup-form
							form
								button Регистрация
						.header-user__login-form
							form
								button Вход
				.header-user__nav-box(id="navigation-menu")
					+header-menu("header-user__nav",menu)

		br
		br
		br
		p
			| Каждое мобильное меню хорошо работает только по отдельности, здесь так как 2 блока с одинаковыми js настройками сработает только первое меню.
		br
		br
		br

	//- .header-helper - don't use it
	.header-helper
		.header-user
				.header-user__content
					.header-user__mobile-bar(id="navigation-toggle")
						.header-user__mobile-toggle
							+icon('nav', 'nav-mod')
						.header-user__mobile-close
							+icon('close', 'close-mod')
						p Открыть навигацию
					.header-user__logo-brand
						.header-user__logo
							a(href="index.html")
								+icon('plane', 'plane-mod')
						a.header-user__brand(href="index.html")
							.header-user__brandname
								h1 Digital Lyfestyle
							.header-user__brand-desc
								p Сайт IT специалиста
					.header-user__inner(id="navigation-login")
						.header-user__inner-box
								.header-user__inner-avatar
									+avatar-user("user-content/avatar/0001.jpg")
								.header-user__inner-content-box
									.header-user__inner-name-desc
										h2 Емельян Казаков
										p Пользователь
									.header-user__inner-buttons-box
										.header-user__inner-profile
											form
												+button('Профиль','#','header-user__inner-btn')
										.header-user__inner-quit
											form
												+button('Выход','#','header-user__inner-btn')
					.header-user__nav-box(id="navigation-menu")
						+header-menu("header-user__nav header-user__nav--inner",menu)