extends layouts/ui-layout.pug

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	ul
		li
			i.fas.fa-arrow-right
			a(href="/ui_buttons.html") UI-Button Кнопки2
		li
			i.fas.fa-arrow-right
			a(href="/typography.html") Типографика
		li
			i.fas.fa-arrow-right
			a(href="/helpers.html") UI kit вспомогательные элементы
		li
			i.fas.fa-arrow-right
			a(href="/forms.html") UI kit формы
		li
			i.fas.fa-arrow-right
			a(href="/header-user.html") Шапка user
		li
			i.fas.fa-arrow-right
			a(href="/header-admin.html") Шапка admin
		li
			i.fas.fa-arrow-right
			a(href="/footer.html") Футер
		li
			i.fas.fa-arrow-right
			a(href="/card-post.html") Карточка — Поис и Портфолио
		li
			i.fas.fa-arrow-right
			a(href="/full-post.html") Блог и Оставить комментарий
		li
			i.fas.fa-arrow-right
			a(href="/comm-sign-mess.html") 2 комментария и Зарегистрироваться и Сообщение от пользователя
block scripts
	script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")