block variables
	- var title = 'Тест шрифтов'

<!DOCTYPE html>
html(lang="")
head
	meta(charset="UTF-8")
	title #{title}
	<!-- build:cssCustom css/main.css -->
	link(rel="stylesheet", href="css/main.css")
	<!-- endbuild -->
body
	h1 Заголовок 1
	h2 Заголовок 2
	h3 Заголовок 3
	h4 Заголовок 4
	h5 Заголовок 5
	h6 Заголовок 6


	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, est architecto, provident id delectus dicta corrupti quis eos 
		a(href='#') reiciendis 


	ul
		li Text




	