extends layouts/ui-layout.pug

block variables
	- var title = 'UI kit кнопки'
	- var pageClass = 'index-page'

block content
	p
		+button('arrow','Вперед ','#')
	p
		+button('white','Подробнее','#')
	p
		+button('yellow','Редактировать','#')
	p
		+button('red','Удалить','#')
	p
		+button('blue','Сохранить','#')
	p
		+button('shadow','Войти','#')


block scripts
	script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")