extends layouts/ui-layout.pug

block variables
	- var title = 'UI kit кнопки'
	- var pageClass = 'index-page'

block content
	+button('arrow','Вперед','#')
	+button('white','Подробнее','#')
	+button('yellow','Редактировать','#')
	+button('red','Удалить','#')
	+button('blue','Сохранить','#')
	+button('shadow','Войти','#')
