extends layouts/ui-layout.pug

block variables
	- var title = 'UI kit кнопки'
	- var pageClass = 'index-page'

block content
	p
		+button('Вперед ','#', 'regular','fa-arrow-right')
	p
		+button('Подробнее','#')
	p
		+button('Подробнее 2','#','regular')
	p
		+button('Редактировать','#','edit')
	p
		+button('Удалить','#','delete')
	p
		+button('Сохранить','#','save')
	p
		+button('Войти','#','login')
	p
		+button('Войти','#','login','fa-arrow-right')


block scripts
	script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")