$linkColor: #1487ca;
$textColor: #222222;
$listItemColor: #383737;

/* footer */
$bg-footer-black:#252525;
$white:#fff;
$color-icon-heard:#d10946;
$yellow:#ffe400;

/* Full-post */
$color-date:#b4bbc2;

