$linkColor: #1487ca;
$textColor: #222222;
$listItemColor: #383737;


/*helper element*/
$badgeColor: #a0cce5;

/* footer */
$bg-footer-black:#252525;
$white:#fff;
$color-icon-heard:#d10946;
$yellow:#ffe400;


