.container
	.row
		.col-12
			h2 2 комментария

			+comment-info(avatar,'Джон До','05 Мая 2017 года в 15:45','Замечательный парк, обязательно отправлюсь туда этим летом.')
			+comment-info(avatar,'Джон До','05 Мая 2017 года в 15:45','Замечательный парк, обязательно отправлюсь туда этим летом.')