mixin nav-main(navClass)
	nav(Class=navClass)
		ul
			li
				a.active(href='index.html') Главная
			li
				a(href='index.html') Обо мне
			li
				a(href='index.html') Работы
			li
				a(href='index.html') Блог
			li
				a(href='index.html') Контакты