



.menu-admin{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;  
  top: 0;
  left: 0;  
  z-index: 2;   
  background-color: rgba(0, 0, 0, 0.85);
  @media (min-width: 992px){
    position: relative;
    display: block;
    left: 0;
    padding-top:0px;
    background-color:transparent;
  }
  li{  
    &:before{ 
      display: none;
    } 
    .svg-inline--fa{
      color:white;
      width: 18px;
      height: 18px;       
    }    
    a{
      padding-left: 8px;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      text-decoration: underline;
      @media (min-width: 992px){
        color: #222222;
      }
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.tab-profile{
  padding:30px;  
    @media (min-width: 992px){
      display: none;
    }     
  &__name{
    display: flex;
    flex-direction:column;
    color:white;
      font-weight: 700;
      margin-bottom: 6px;
  }
  .button{
    margin: 0;
    font-size: 13px;
    background: #a0cce5;
      &:hover, &:focus {
          background: darken(#a0cce5, 10%)
      }
  }
}

.tab-wrap{
 width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
  position: relative;
  @media (min-width: 992px){
       background-color:inherit;
    } 
}

.tab-label-content{
  width: 100%;
  
  label{
    width: 100%;
    cursor: pointer;
    text-align: center;
    color:white;
    background: black;
    padding: 16px 0;       
    font-weight: 700;
    @media (min-width: 992px){
      display: none;
    } 
  }
  nav {
    position: absolute;
    width: 100%;
    top:60px;
    left: 0;
    display: none;
    @media (min-width: 992px){     
      top: 0;
      display: block;
      position: inherit;
    } 
  }
}



input[type="radio"][name="tabs"] {
  display: none;
  &:checked {
    + .tab-label-content{
      label {
        cursor:default;
        background:white;
        color: $blue;        
        transition: all 0.2s ease;
      }
      nav{      
        display: block;        
        padding-top: 40px;
        padding-left:20px;
        @media (min-width: 992px){
            padding: 0;
        } 
        ul{          
          display: flex;
          flex-direction: column;
          @media (min-width: 992px){
            flex-direction: row;
          }           
        }        
      }
    }
  }  
}



.tab-profile{
  .avatar{    
    margin: 0 0 10px 0;
  }
}


  .header-helper{
    height: 100vh;
  }



#tab2-content{
  @media (min-width: 992px){
       display: none;
      }
}