.edit-contacts{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 45px;

    @media screen and (max-width : 440px) {
        flex-direction: column;
        align-items: center;
    }

   
}


//Кнопка загрузки   
.contacts-btn-mod{
    width: 146px ;
    border-radius: 25px ;
    height: 40px ;
}

 .contacts-container-mod{
    margin-bottom: 10px ;
    align-items: center ;
}
//-- Кнопка загрузки


.main-content--admin{
    padding-top: 30px;
}

.button-contacts-edit-message{
    margin: {
        left: 0;
        right: 10px;
    }
}

.mod_form-message--contacts-admin{
    height: 100px;
}

