.full-post{  
  padding: 70px 0 140px 0;
  margin-bottom: 40px;
  &__author, &__link, &__date{
    font-size: 14px;
		font-weight: 600;
		margin-right: 20px;		
  }  
	&__link{
    text-decoration: none;
		color:$linkColor;
	}
	&__date{
    color:$color-date;
  }
  &__img{
    max-width: 100%; 
    height: auto;
    display:block;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
  }
  &__next-prew{
    padding: 20px 0 40px;
    display: flex;
    justify-content:space-between;
    .button{
      margin: 0;
    }
  }
}

.full-post{
 .button-edit{
  float: right;
   margin: 0;
 }
}


.comment-post__title{
  font-size: 26px;
  margin-bottom: 20px;  
}  

/* CSS Grid */
.comment-post{
  display:grid;
  grid-template-columns: auto 1fr;
  grid-gap:10px 20px;
  grid-row: 10px;
  grid-template-areas:
    "avatar author"
     "null form"
   
    
}

.comment-post .avatar{
  grid-area: avatar;
  margin: 0;
 
}
.comment-post.error-message{
  grid-area: message;
grid-column: span 2;
}

.comment-post__author{ 
  grid-area: author; 
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  
}   

.comment-post__form{
  grid-area: form;
  
}

.comment-post__form{
  .error-message{
    margin:0 0 10px 0;
  }
}

.comment-post__form{
  .button{
    margin:10px 0;
  }
}

@media (max-width: 700px) {
    .comment-post{
        grid-template-areas: 
          "avatar author"
          "form form"         
    }
}