.json{
  max-width: 100%;
  margin-bottom: 40px;
  li{
    margin-bottom: 20px;    
  }
  p{
    line-height: 1.5;
  }
  &__date{
    display: inline;
    padding: 4px 8px;
    border: 1px solid tomato;    
  }
}

.json{
  .card{
    height: auto;
  }
}