.comment{
	background-color: #ECF0F3;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 20px;
	display:grid;
  	grid-template-columns: auto 1fr;
  	grid-gap:10px 20px;
  	grid-row: 10px;
  	grid-template-areas:
    	"avatar author"
     	"text text";
	
	&__avatar{
		grid-area: avatar;
		margin: 0;
	}

	&__info__user_date{
		grid-area: author;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		color: #9B9B9B;
		margin-bottom: 5px;
	}

	&__user_name {
		font-weight: 800;
		font-size: 16px;	
		color: #383737;	
		margin-right: 20px;
	}

	.time_container {
		margin-top: 10px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		font-size: 18px;
	}

	&__date {
		margin-left: 10px;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.1em;
		color: #9B9B9B;
	}

	&__text {
		grid-area: text;
		font-size: 16px;
		font-weight: 400;
	}

	@media (min-width: 768px) {
        grid-template-areas: 
          	"avatar author"
          	"avatar text";  
          
        &__info__user_date{
			flex-direction: row;
			align-items: center;
		}
		.time_container {
			margin-top: 0;
		}
	}
}

.no-auth,.comment-user{  
  background-color:$bg-comments-no-auth;
}

.no-auth{
  padding: 50px 0;  
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  &__title{
    a{
      text-decoration: underline;
      color:$blue;
    }
  }
}

.comment-user{
  position: relative;
  padding: 20px;
  &__message{
    margin-bottom: 20px;
  }
  &__date{
    color:$color-date;
    margin-bottom: 20px;
  }
  &__file{
    font-weight: bold;
    a{
      font-weight: normal;
      text-decoration: underline;
      color:$blue;
    }
  }
}

.comment-user{
  .button{
    position: absolute;
    top: 20px;
    right: 0;
  }
}

.comment-user-profile{
  margin-bottom: 10px;
  &__name{
    font-size: 20px;
    font-weight: bold;
  }
  &__email{
     color:$blue;
  }
}